<div class="user-reviews">
  <% @reviews.each do |review| %>
    <div class="media">
      <div class="media-left">
      <% if review.user.avatar? %>
        <%= link_to image_tag(review.user.avatar, size: Settings.gravatar.default_size), user_path(review.user) %>
      <% else %>
        <%= link_to gravatar_for(review.user), user_path(review.user) %>
      <% end %>
      </div>
      <div class="media-body">
        <h4 class="media-heading"><%= review.user.name? ? review.user.name : review.user.email %>
          <small><i><%= t ".posted" %> <%= review.created_at.strftime("%B %e, %Y") %></i></small></h4>
        <div class="star-rating" data-score= <%= review.rating %> ></div>
        <h5><%= review.title %></h5>
        <div class="longtext">
          <div class="lesstext">
            <%= truncate strip_tags(review.content), length: Settings.reviews.cont_length %>
          </div>
          <div class="moretext">
            <span>
              <%= strip_tags(review.content) %>
            </span>
            <%= link_to t(".read_more"), "#", class: "links" %>
          </div>
        </div>
        <div class="interactive-review">
          <div class="inter-label">
            <h4><%= t ".liked" %> <span class="badge" id="like_count"><%= review.count_like_reviews %></span></h4>
          </div>
          <div class="inter-actions">
            <% if user_signed_in? %>
              <% unless current_user.has_review?(review) %>
                <div id="like_form">
                  <%= render partial: "movies/like", locals: {review: review, movie_id: review.movie.id} %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <div class="pagination">
    <%= will_paginate @reviews %>
  </div>
</div>
