<div class="row">
  <div class="col-md-12">
    <%= form_for @user do |f| %>
      <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label :email %>
        <%= f.text_field :email, class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label :password, "New password" %>
        <%= f.password_field :password, class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, "Confirmation" %>
        <%= f.password_field :password_confirmation, class: "form-control" %>
      </div>

      <div class="avatar">
        <%= f.label :avatar %>
        <%= f.file_field :avatar, class: "form-control" %>
      </div>

      <div class="btn_update_user">
        <%= f.submit t(".update") %>
      </div>
    <% end %>
  </div>
</div>