<%= form_for @review do |f| %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :movie_id, value: @movie.id %>
  <div>
    <%= f.label :title %>
  </div>
  <div>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :content %>
  </div>
  <div>
    <%= f.cktext_area :content, rows: 5 %>
  </div>

  <div>
    <%= f.submit t(".review") %>
  </div>
<% end %>
